{% extends 'base.html.twig' %}

{% block title %}Nouveau Carousel{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-3 rF">Ajouter un Carousel</h1>

        {{ include('admin/carousel/formCarousel.html.twig') }}  

    </div>


{% endblock %}

{% block javascripts %}
    <script src="/assets/js/previewUploadCarousel.js" ></script>
    <script src="/assets/js/previewSavedCarousel.js" ></script>
{% endblock %}