{% extends 'base.html.twig' %}

{% block title %}Trioenologie - Association d'oenologie: actualités, programme, galerie photo...{% endblock %}

{% block body %}

    <div class="row">        
  
        {# Carousel  #}
        <h1 class="text-center sP">Bienvenue sur le site de l'association Trioenologie</h1>
        {% include "main/partials/carousels/carouselHome.html.twig" %}
        <br>
        
    </div> <!--EO row-->

{% endblock %}
