{% extends 'base.html.twig' %}

{% block title %}Ajout d'images{% endblock %}

{% block body %}
<div class="container cbody">
    <h1 class="text-center mt-3 rF">Ajouter plusieurs images à la banque d'images</h1>
    
    {{ include('admin/picture/formPicture.html.twig') }}


</div>
{% endblock %}

{% block javascripts %}
    <script src="/assets/js/previewUploadPicture.js" ></script>

{% endblock %}
