{% extends "base.html.twig" %}
{% block title %}Trieonologie, association d'oenologie{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center sP mt-3 mb-3">Qui sommes-nous ?</h1>

    <section>

        <img src="/assets/imagesTrioenologie/banniere.jpg" alt="" id="banniere">

    <p class="rF text-center">Trioenologie est une association créée en 2021. Notre objectif est d’offrir à nos membres la possibilité de découvrir le monde du vin de la vigne au verre.
    Nous proposons 10 cours par saison, de septembre à juin, généralement le dernier mardi de chaque mois.
    Ces cours sont ouverts aux non-adhérents dans la limite des places disponibles.
    Nos cours sont l’occasion de découvrir et de déguster des vins selon la thématique du jour. Chaque cours présentant entre 4 et 5 vins. Le tout dans une ambiance conviviale.
    Nous proposons aussi plusieurs fois par an la visite de domaines viticoles et/ou de salons du vin.
    En outre, Trioenologie étant une association de village, nous participons, un dimanche par mois à une
    animation festive sur le marché du village (vin chaud, sangria…).
</p>

    
    </section>
</div>

{% endblock %}