{% extends 'base.html.twig' %}

{% block title %}404 - Page Non trouvée{% endblock %}

{% block body %}

<div class="container">

    <div class="row mt-3">
    
        <div class="col-12">
            <h1><span class="error">404</span> - Page non trouvée</h1>
            <h2></h2>
            <p class="text-center">Désolé, la page que vous recherchez n'a pas été trouvée.</p>
        </div>
    
    </div>

</div>

{% endblock %}
